{# src/Rw/UserBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	User - {{ parent() }}
{% endblock %}

{% block title_bundle %}
	Bienvenue dans l'espace membre !
{% endblock %}

{% block menu %}
	{% block rwmenublog %}
	<h3>Menu utilisateur</h3>
	<ul class="nav nav-pills nav-stacked">
		{% include "RwUserBundle:Security:usermenu.html.twig" %}
	</ul>
	{% endblock %}
{% endblock %}
{% block body %}

	{# On affiche les messages flash que définissent les contrôleurs du bundle #}
	{% for key, message in app.session.flashbag.all() %}
		<div class="alert alert-{{ key }}">
			{{ message|trans({}, 'FOSUserBundle') }}
		</div>
	{% endfor %}
	{# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
	{% block fos_user_content %}
	{% endblock fos_user_content %}

{% endblock %}