{# src/Rw/BlogBundle/Resources/views/Blog/addcomment.html.twig #}
{# ajouter un commentaire BlogBundle niveau 3 #}

{% extends "RwBlogBundle::layout.html.twig" %}

{% block title %}
  Ajouter un commentaire - {{ parent() }}
{% endblock %}

{% block title_bundle %}
	Ajouter un commentaire. (blog niveau 3)
{% endblock %}

{% block menu %}	
<div id="menu" class="col-sm-3 col-xs-12" >
	<h3>Le menu du blog</h3>
	<ul class="nav nav-pills nav-stacked">
		{% include "RwBlogBundle:Blog:blogmenu.html.twig" %}
	</ul>
</div>
{% endblock %}

{% block body %}
<div id="content" class="col-sm-9 col-xs-12" >
	<h2>Ajouter un commentaire</h2>
	</br>
	{% include "RwBlogBundle:Blog:formulairecomment.html.twig" %}
	{% include "RwBlogBundle:Blog:billetcomments.html.twig" %}
</div>
{% endblock %}