{# src/Rw/BlogBundle/Resources/views/Blog/edit.html.twig #}
{# modifier un billet BlogBundle niveau 3 #}

{% extends "RwBlogBundle::layout.html.twig" %}

{% block title %}
  Modifier un billet - {{ parent() }}
{% endblock %}

{% block title_bundle %}
	Modifier un billet. (blog niveau 3)
{% endblock %}

{% block menu %}
<div id="menu" class="col-sm-3 col-xs-12" >	
	<h3>Le menu du blog</h3>
	<ul class="nav nav-pills nav-stacked">
		{% include "RwBlogBundle:Blog:blogmenu.html.twig" %}
	</ul>
</div>
{% endblock %}

{% block body %}
<div id="content" class="col-sm-9 col-xs-12" >
	<h2>Modifier un billet</h2>
	</br>
	{% include "RwBlogBundle:Blog:formulaire.html.twig" %}
</div>
{% endblock %}