{# src/Rw/BlogBundle/Resources/views/Blog/menuadminbillet.html.twig #}

{% if is_granted('ROLE_USER') %}
	<a type="button" class="btn btn-primary"  href="{{ path('rwblog_add_comment', { 'id': billet.id }) }}">Ajoutez un commentaire</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
	<a type="button" class="btn btn-success"  href="{{ path('rwblog_edit', { 'id': billet.id }) }}">Modifiez le billet</a>
	<a type="button" class="btn btn-danger"  href="{{ path('rwblog_delete', { 'id': billet.id }) }}">Supprimez le billet</a>
{% endif %}

{% if is_granted('ROLE_USER') %}
	<br /><br />
{% endif %}