{# src/Rw/ForumBundle/Resources/views/Forum/index.html.twig #}
{# page forum niveau 3 #}

{% extends "RwForumBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block menu %}
{% endblock %}

{% block title_bundle %}
	Le Forum : parlez (niveau 2)
{% endblock %}

{% block body %}	
		<h2>Coucou vous êtes sur la page d'accueil du forum ...</h2>			
{% endblock %}