{# src/Rw/ForumBundle/Resources/views/Forum/index.html.twig #}

{% extends "RwForumBundle::layout.html.twig" %}

{% block title %}
	Accueil du Forum du site lire et écrire le thaï (niveau 3)
{% endblock %}

{% block menu %}
	<p>futur menu du forum </p>
	<p>futur menu du forum </p>
	<p>futur menu du forum </p>
{% endblock %}

{% block body %}		
	<h2>Coucou vous êtes sur la page d'accueil du forum ...</h2>
{% endblock %}