{# src/Rw/CoreBundle/Resources/views/Core/editarticle.html.twig #}
{# modifier un article CoreBundle niveau 3 #}

{% extends "RwCoreBundle::layout.html.twig" %}

{% block title %}
  Modifier un article - {{ parent() }}
{% endblock %}

{% block title_bundle %}
	Modifier un article. (blog niveau 3)
{% endblock %}

{% block menu %}	
<div id="menu" class="col-sm-3 col-xs-12" >
	<h3>Le menu des leçons</h3>
	<ul class="nav nav-pills nav-stacked">
		{% include "RwCoreBundle:Core:coremenu.html.twig" %}
	</ul>
</div>
{% endblock %}

{% block body %}
<div id="content" class="col-sm-9 col-xs-12" >
	<h2>Modifier un article</h2>
	</br>
	{% include "RwCoreBundle:Core:formulairearticle.html.twig" %}
</div>
{% endblock %}