{# src/Rw/CoreBundle/Resources/views/Core/index.html.twig #}
{# index du site CoreBundle niveau 3 #}

{% extends "RwCoreBundle::layout.html.twig" %}

{% block title %}
	Accueil du site lire et écrire le thaï
{% endblock %}

{% block menu %}
<div id="menu" class="col-sm-3 col-xs-12" >
	<h3>Le menu du site</h3>
	<ul class="nav nav-pills nav-stacked">
		{% include "RwCoreBundle:Core:coremenu.html.twig" %}
	</ul>
</div>
{% endblock %}

{% block body %}	
<div id="content" class="col-sm-9 col-xs-12" >
	<h2>Bienvenue sur le site : lire et écrire le thaï</h2>
	</br>
	<p>Bonjour et bienvenue sur le site lirelethailandais.com. 
	Le but de ce site est d'aider ceux qui souhaitent apprendre à lire et à écrire le thaï. 
	Il n'est pas fait pour l'apprentissage de la langue parlée, il est donc nécessaire de pratiquer déjà un 
	peu la langue thaïe. Toutefois pas besoin de parler couramment, un débutant pourra suivre sans problème 
	et progressera aussi dans sa connaissance de la langue en enrichissant son vocabulaire.
	</p>
	<p>Expatrié en Thaïlande depuis décembre 2013, j'ai commencé en autodidacte, l'apprentissage de la langue écrite 
	dès mon installation dans un petit village de l'Isan près d'Udon Thani. Il est assez difficile de trouver des 
	infos ou une méthode en langue française sur ce sujet. J'ai créer ce site afin de partager l'expérience 
	acquise avec ceux qui souhaite se lancer dans cette quète du savoir lire.
	La réalisation de ce site m'a permis de faire la synthèse de toutes les infos, en langue française ou anglaise, 
	glanées sur des sites internets ou des livres. J'ai beaucoup progressé en faisant ce travail et j'espère que 
	le résultat vous aidera à vous lancer ou à progresser dans l'aventure de la lecture.
	</p>
	<p>Pour apprendre les 44 consonnes, 32 voyelles et les différentes 
	règles, il faut une pratique quotidienne, sur une longue période de plusieurs mois voire années. Cependant c'est 
	possible et finalement c'est même plus facile que ce l'on pourrait croire. Je pense qu'il est même plus facile de 
	lire le thai écrit que de le parler. 
	</p>
</div>
{% endblock %}