{# src/Rw/CoreBundle/Resources/views/Core/index.html.twig #}
{# index du site CoreBundle niveau 3 #}

{% extends "RwCoreBundle::layout.html.twig" %}

{% block title %}
	Accueil du site lire et écrire le thaï
{% endblock %}

{% block title_bundle %}
	Bienvenue sur lirelethailandais.com
{% endblock %}

{% block menu %}
<div id="menu" class="col-sm-3 col-xs-12" >
	<h3>Le menu du site</h3>
	<ul class="nav nav-pills nav-stacked">
		{% include "RwCoreBundle:Core:coremenu.html.twig" %}
	</ul>
</div>
{% endblock %}

{% block body %}	
<div id="content" class="col-sm-9 col-xs-12" >
	{% include "RwCoreBundle:Core:indexText.html.twig" %}
</div>
{% endblock %}