{# src/Rw/CoreBundle/Resources/views/Core/lesson.html.twig #}

<div>
	<p><br /></p>
	{% if is_granted('ROLE_ADMIN') %}
		{% include "RwCoreBundle:Core:menuadminlesson.html.twig" %}
		<p></p>
	{% endif %}
	<div class="well">	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Sommaire</h3>
			</div>
			<div class="panel-body">
				{% set articles = lesson.articles %}
				{% for article in articles %}
					<p>{{ article.title|raw }}</p></li>
				{% endfor %}			
			</div>
		</div>
		{{ include({ 'content' :lesson.content }) }}
	</div>
</div>


