{# src/Rw/BlogBundle/Resources/views/Core/lessonView.html.twig #}

	<section>			
		<div id="bloc_section_lesson">
			
			{% set articles = lesson.articles %}
			{% for article in articles %}
			<article>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">{{ article.title|raw }}</h3>
					</div>
					<div class="panel-body">
						{{ article.content|raw }}
					</div>
				</div>
			</article>
			{% endfor %}	
			
		</div>
	</section>