{# src/Rw/CoreBundle/Resources/views/Core/listLesson.html.twig #}
{# liste des lessons CoreBundle niveau 3 #}

{% extends "RwCoreBundle::layout.html.twig" %}

{% block title %}
	Listes des leçons de {{ parent() }}
{% endblock %}

{% block title_bundle %}
	Liste des leçons :
{% endblock %}

{% block menu %}
<div id="menu" class="col-sm-3 col-xs-12" >
	<h3>Le menu leçon</h3>
	<ul class="nav nav-pills nav-stacked">
	<p>Coucou c'est le futur menu des leçons !</p>
	<p>listLesson</p>
	{% include "RwCoreBundle:Core:lessonMenu.html.twig" %}
	</ul>
</div>
{% endblock %}

{% block body %}
<div id="content" class="col-sm-9 col-xs-12" >
	<ul>
	{% for lesson in lessons %}
		<li><h3><a href="{{ path('rw_core_viewlesson', {'id': lesson.id}) }}">{{ lesson.title }}</a></h3>
		{% set articles = lesson.articles %}
		{% for article in articles %}
			<p>{{ article.title|raw }}</p></li>
		{% endfor %}
	{% endfor %}
</ul>
</div>
{% endblock %}