{# src/Rw/CoreBundle/Resources/views/Core/menuadminlesson.html.twig #}

{% if is_granted('ROLE_ADMIN') %}
	<a type="button" class="btn btn-success"  href="{{ path('rw_core_editarticle', { 'id': lesson.id }) }}">Modifiez l'article</a>
{% endif %}

